

/* adamina-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Adamina';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/adamina-v22-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* amiri-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Amiri';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/amiri-v30-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


/* Body background and readable font */
body {
    margin: 0;
    font-family: 'Amiri', sans-serif;
    font-size: 1em; /* Uses scalable type sizing */
    color: #222;
    background: url("images/tech.jpg") no-repeat center center/cover;
    padding: 0 20px;
}

/* Header styling */
h1, h2 {
    font-family: 'Adamina', serif;
    text-align: center;
    margin-top: 30px;
}

/* Title colors */
h1 {
    color: #FFFFFF;
    font-size: 2.5em;
}

h2 {
    color: #F5BE0A;
    font-size: 1.8em;
}

header {
    text-align: center;
    padding: 3rem 1rem;
    background: rgba(0, 0, 0, 0.4);
    border-bottom: 3px solid #ffd700;
}

/* Paragraph styling */
p {
    font-size: 1em;
    line-height: 1.5em;
    color: #333;
}

/*JOB LISTING LAYOUT USING FLEXBOX*/

.job-container {
    display: flex;            
    flex-wrap: wrap;          
    justify-content: center;  
    gap: 20px;
    margin: 40px auto;
    max-width: 1200px;
}

/* Style for each job card */
.job-card {
    background: #f1faee;
    border: 2px solid #a8dadc;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
    padding: 20px;
    width: 300px;             
}

/* Job titles */
.job-card h3 {
    font-family: "Playfair Display", serif;
    color: #e63946;
    font-size: 1.4em;
    margin-bottom: 10px;
}

/* Slight spacing improvement */
.job-card p {
    margin: 5px 0;
}

/* Images Icons */
.job-icon {
    height: 24px;
    width: 24px;
    vertical-align: middle;
    margin-right: 8px;
}









