/* reset browser styles */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

/* pt-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/pt-sans-v18-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* slabo-27px-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Slabo 27px';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/slabo-27px-v16-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
  font-display: swap;
  font-family: "Uncial Antiqua", system-ui;
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/UncialAntiqua-Regular.truetypefont') format('truetypefont');
}


html {
	padding-top: 25px;
	background-image: url(images/zelda-texture.jpg);
}

body {
	font-family: 'Open Sans', sans-serif;
	color: #23B4FC;
	width: 70%;
	margin: 0 auto;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 10px 10px 10px rgba(0,0,0,.5);
	background-color: #F3F1C5;

}

h1 {
	color: ##F2F9FE;
	font-size: 20em;
  	
}

h2 {
	color: #23A2FC
	 font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  	font-family: 'PT Sans';
  	font-style: normal;
  	font-weight: 400;
}

h3 {
	font-weight: bold;
	font-size: 3em;
}

ol { 
	padding-left: 1.4em;
	list-style: decimal;
}

ul {
	padding-left: 1.4em;
	list-style: square;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} 
/* end reset browser styles */

body {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;	
}

header {
	background: rgb(255,214,94);
	background: linear-gradient(to bottom, rgb(100,100,100),rgb(0,0,0));
  	padding-top: 20px;
  	background-image: url('images/zelda-texture3.png');
  	border-radius: 5px;
}

.container {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	padding: 10px 0 30px 0;	
	text-align: right;
	position: relative;
}

.logo {
	position: absolute;
	z-index: 100;
	left: 0;	
}
header h1 {
	font-size: 2.2em;
	margin: 0 0 10px 0;
	color: rgb(255,255,255);
}

/* Navigation */
nav ul {
	list-style: none;
	display: flex;
	justify-content: center;
	flex-direction: row;
	gap: 40px;
	background-image: none;
	 no-repeat 10px 10px;
	padding-top: 200px 0;
}

nav ul li {
	background-color: #00b4d8;
	padding: 10px 15px;
	border-radius: 5px;
}

nav ul li a {
	color: #fff;
	text-decoration: none;
	font-weight: bold;
}

nav ul li:hover {
	background-color: #ffcc00;
	transition: 0.3s;
}

/* Booking Selection */

.booking {
	position: relative;
	text-align: center;
}

.booking img {
	width: 50%;
	height: 50%;
	opacity: 0.5;
}

.booking-text {
	position: absolute;
	top: 50%
	left: 50%
	transform: translate(-50%, -50%);
	color: #fff;
	background-color: rgba(0, 0, 0, 0.6);
	padding: 20px;
	border-radius: 10px;
}

.success-message {
      text-align: center;
      color: green;
      margin-top: 1rem;
      display: none;
    }

.error-message {
      text-align: center;
      color: red;
      margin-top: 1rem;
      display: none;
    }

/* Buttons */
.cta {
	background-color: #ffcc00;
	border: none;
	color: #000;
	padding: 10px 20px;
	margin: 5px;
	border-radius: 5px;
	cursor: pointer;
	font-weight: bold;
}

.cta:hover {
	background-color: #00b4d8;
	color: #fff;
}

/* Footer */
footer {
	text-align: center;
	/* background-color: #111; */
	color: #EFFA0F;
	padding: 10px;
	margin-tap: 40px;
	background-image: url(images/zelda-texture2.jpg);
	border-radius: 5px;
}

/* General Layout */
section {
	margin: 40px auto;
	max-width: 900px;
}

section img {
	width: 100%;
	border-radius: 10px;
	margin-top: 10px:
}

@keyframes logo {
	from {
		transform: rotate(0) scale(.5);
		left: 120%;
	}

	50% {
		transform: rotate(-720deg) scale(.5);
		left: 0;
	}

	to {
		transform: rotate(0) scale(1);
	}
}

.logo {
	animation: logo 3s;
}


